.login-form {
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 10%;
    width: 30%;
}

.footer{
    display: flex;
    justify-content: space-between; 
    background-color: white !important;
}

.login-card {
    padding: 20px
}
